<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
  <add name="MiCadenaDeConexion" connectionString="Data Source=DESKTOP-328UTJV\SQLEXPRESS;Initial Catalog=Proyecto_Taller_2escritorio;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="proyecto2_prueba.Properties.Settings.Proyecto_Taller_2ConnectionString"
   connectionString="Data Source=DESKTOP-4VTBP4R\SQLEXPRESS;Initial Catalog=Proyecto_Taller_2;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>